*{
    padding: 0;
}
.khung{
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: var(--color5);
}
.Menu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    
}
.Menu ul{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.Menu ul li:hover{
    background-color: var(--color4); 
}
.Menu li{
    list-style: none;
    height: auto;
}

.Menu li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: var(--color1);
}
.Menu img{
    width: 100%;
}
.banner{
    width: 100%;
}

.banner img{
    width: 100%;

}
h2{
    color: var(--color6);
}
.title a{  
    font-weight: bold;
    color: var(--color7);
    text-decoration: none;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    color: var(--color1);
    padding-left: 20px;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title h1{
    color: var(--color1);
    margin: 10px 0;
}
.noiDung{
    width: 100%;
    height: auto;
    background-color: var(--color5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.diaChi1{
    width: 35%;
    text-align: center;
    margin: 30px 20px;
    padding: 10px 5px;;
    flex-direction: column;
    background-color: var(--color1);
    border-style: outset;
}
.footer{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: var(--color1);
}
.doiTac img{
    width: 100%;
    flex-shrink: 1;
}
.Menu_Mobile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    display: none;
}
.navmobile{
    width: 100%;
    height: 75px;
    display: grid;
    justify-content: center;
    background-color: rgb(76, 12, 88);
    
}

.navmobile a{
    text-decoration: none;
    color: var(--color1);
    font-size: 25px;
}
.navmobile img{
    width: 100%;
    height: 50px;
}
:root{
    --color1: white;
    --color2: black;
    --color3: rgb(11, 11, 58);
    --color4: rgb(55, 55, 236);
    --color5: rgb(26, 3, 39);
    --color6: rgb(185, 185, 144);
    --color7: rgb(173, 173, 12);
}
.Menu >ul > li:hover{
    background-color: darkmagenta;
}
.Menu li a:hover{
    color: var(--color7);
}
@media screen and (max-width: 768px){
    .diaChi1{
        width: cacl(48% - 22px);
    }
    .Menu{
        display: none;
    }
    .Menu_Mobile{
        display: flex;
    }
}
@media screen and (max-width: 480px){
    .diaChi1{
        width: 100%;
    }
}